<% include ../top.ejs %>
 
    <section>
      <div class="container">
        <div class="col-md-12">
          <div class="row">
            <h5 style="border-left: 5px solid;" class="border-primary pl-2 mb-4">회원 탈퇴</h5>
          </div>
          <div class="row">
            <img src="/images/undraw_feeling_blue_4b7q.png" alt="leave" width="550px" height="430px" class="mx-auto">
          </div>
          <div class="row">
            <h5 style="font-weight:bold" class="my-4 mx-auto">회원 탈퇴가 정상적으로 완료되었습니다</h5>
          </div>
          <div class="row">
            <h3 style="font-weight:bold" class="mx-auto mb-5">다음에 또 만나요!</h3>
          </div>
        </div>
      </div>
    </section>
    

 <% include ../foot.ejs %>