/* header */
/* 검색창 */
input.keyword{
    width: 380px  !important;
    border-radius:10px;
}

/* 메뉴 바 부분 */
.btn_none {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 7px;
}
.btn_none:hover {
    color: rgba(0, 0, 0, 0.7);
}

/* 탑 네비게이터 바 */
.topNavBar {
    color: rgba(50, 50, 50, 0.5) !important;
}
.topNavBar:hover {
    color:#f5f5f5 !important;
}

/* 장바구니 몇 개 있는지 표시 badge */
a.circleBadge {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    top: 22px;
    left: 172px;
    border-radius: 50%;
    background-color: #f25a38;
    z-index: 100;

}
span.circleBadge_num {
    font-weight: 600;
    color : #ffffff;
}
/* 회원 가입 페이지 */
small.result_txt {
    color: #c23b2d;
    font-weight: 400;
}
span#agree_span{
    color: #c23b2d;
    font-weight: 300;
}


/* 마이페이지 -  */
p#aside_p_username, span#mypage_span_username{
    font-weight: 400;
}

.wish_artist_item {
    list-style-type: none;
}
/* 즐겨찾는 작가 페이지 */
.cp_box_list {
    display : inline;
    list-style-type: none;
    
}
/* 마일리지 페이지 */
.mileage {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    display : flex;
    flex-direction : column;
    align-items: center;
    width: 40%;
    margin : 15px;
    border-radius:30px;
  
}
.mileage h3 {
    font-weight: 800;
    padding : 30px;
}
.mileage:first-child h3 {
    color: #b81812;
}



/* 메시지 페이지 */
  .msg_header{
    color: #525150;
    font-weight: bold;
    margin-bottom: 50px;
    padding-left: 30px;
      color: #525150;
  }
  .gradient{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    font-size: 1.2rem;
    height: 80px;
    color: #525150;
  }
  .msg_btn{
    width: 300px;
    border-radius:10px;
    border: 2px solid #525150;
  }
  #msg_text {
    border: none;
    resize: none;
    outline: none;
  
  }


/* 즐겨찾기 페이지 & 후기리스트 페이지 */
ul.wish_list, ul.review_list{
    width: 25%;
    float: left;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.wish_list_item, .review_list_item {
    list-style-type: none;
}
 .wish_list_item.img{
    position: relative;
}
.wishCheck {
    position: absolute;
    top:-23px;
    left:-23px;
}
 
p.wishRating {
    min-height: 28px;
    color: #ffc107;
}
p.originPrice {
    color: black;
    font-size: 1.2rem;
}
span.salePrice {
    text-decoration: line-through;
    color: #4e65bf;
    font-size: 0.8rem;
}

.wishProdName, .reviewProdName {
    height: 76px;
   
}

.wish_list_item .img {
    padding: 5px;
}
.wish_list_item .img:hover {
   opacity: 0.8;
}

/* 후기작성 페이지 */
.starRate {
    font-size :1.2rem;
    cursor : pointer;
    margin-right: 2px;
}

.ck-content .image .image-style-side {
    max-width: 50%;
    float: left;


}
.ck-content .image .image-style-side img{
    width: 300px;

}


.reviewBtn:first-child {
    margin-right: 5px;
}
.reviewBtn {
    border: 1px solid #297387;
    color: #297387;
    font-size: 0.9rem;
    padding: 7px 8px 7px 8px;
    border-radius: 3px;
    font-weight: 300;
    
}
.reviewBtn:hover {
    text-decoration: underline;
    color: #ffffff;
    background: #297387;
    transition: background 0.5s;
}

/* pagination */
._pagination .pItem {
    text-decoration: none;
    display: inline;
    padding: 5px 11px;
}
._pagination .pItem:hover {
    cursor: pointer;
}

.isActive {
    background-color: #FFC966;
    border-radius: 50%;
    color: #ffffff;
}

/* 연락처 인증 modal */
.timer {
    font-size: 1.2rem;
    font-weight: 900;
    color: #7c7e80;
    display : inline;
    position: absolute;
    right: 28px;
    top: 20px;
    z-index: 999;
}

span.valiHeader {
    font-size: 1.2rem;
    font-weight: 400;
    color: #525150;
}

.valiBtnOK {
    width: 100%;
    background: none;
    border: 2px solid #28a745;
    height: 45px;
    margin-bottom: 10px;
}

.valiBtnOK:hover {
    background: #28a745;
    border: none;
    color: #ffffff;
}

.faCheck {
    display: inline;
    position: absolute;
    right: 90px;
    top: 3px;
    z-index: 999;
    color: #ed4f37;
    animation: bounce-top 0.9s both;

}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-2 23:29:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 
@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  


