<% include top.ejs %>
<div class="text-center">
    <img src="/images/undraw_page_not_found_su7k.png" alt="404" width="570px" height="auto">
    <h5 class="my-5">요청하신 페이지를 찾을 수 없습니다</h5>
    <a href="/" class="btn btn-outline-secondary mb-5">홈으로가기</a>
    
</div>
<% include foot.ejs %>